<div class="container m">
  <h1>Angular</h1>
  <recap-component></recap-component>
  <declaration-component></declaration-component>

  <hr>

  <h2>Pagination repeat directive</h2>

  <a href="#" *repeat="pages; let index">Page {{ index }} </a>

  <button (click)="pages = pages + 1">Ajouter</button>
  <hr>

  <h5>Annotation loop : ng-template</h5>
  <ul>
    <ng-template [loopOf]="personArray" let-person let-index="index">
      <li>{{ person.firstName }} {{ person.lastName }} : number #{{ index + 1 }}</li>
    </ng-template>
  </ul>

  <h5>Annotation loop : étoile</h5>
  <ul>
    <li *loop="let person of personArray; let index=index">
      {{ person.firstName }} {{ person.lastName }} : number #{{ index }}
    </li>
  </ul>

  <h5>Annotation ngLoop</h5>
  <ul>
    <li *ngFor="let person of personArray; let index=index">
      {{ person.firstName }} {{ person.lastName }} : number #{{ index }}
    </li>
  </ul>


  <button (click)="addPerson()">Ajouter une ligne au tableau</button>

  <hr>
   <ng-container #container>
     ng-container
   </ng-container>

  <h2 *if="age > 18; else otherTemplate">
    IF* : Ng-template {{ age }}
  </h2>

  <h2 *ngIf="age > 18; else otherTemplate">
    ngIf* : Ng-template {{ age }}
  </h2>

  <ng-template #template let-variable="variable" [if]="age >= 18" [ifElse]="otherTemplate">
    <h2>IF : Ng-template {{ age }} </h2>
  </ng-template>

  <ng-template #otherTemplate>
    <h2>ELSE : Other Template {{ age }} </h2>
  </ng-template>
  <br>
  <input type="number" #ageInput>
  <button (click)="age = ageInput.valueAsNumber">Display IF age > 18</button>

  <hr>

  <card title="My card">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facilis id iure nam perferendis, quas.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <footer>
      <a href="#">More</a>
    </footer>
  </card>

  <hr>

  <div class="grid">
    <newsletter
      title="Sign in to the NL"
      button-text="Confirm"
      placeholder="Your email"
      (confirm)="onConfirmEmail($event)"
    >
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dicta doloribus minima? Dolorem, iusto, sunt.</p>
    </newsletter>
  </div>

  <hr>

  <h4>Force lowercase :</h4>
  <input type="text" placeholder="prenom" force-lower value="FRANCK">

  <p [ngClass]="{ red: age >= 18, bold: nationality === 'Switzerland'}"
  >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut deleniti fuga ipsa provident quisquam, rem?</p>

  <button (click)="age = 2">Change age</button>

  <button (click)="nationality = 'France'">Change nationality</button>

  <button (click)="firstName = 'John'">Change example</button>

  <hr>

  <p #paragraph="hl" highlight>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores culpa deleniti dolorem, doloremque ducimus error facilis hic illo libero nobis quaerat, quibusdam rem ut vitae! Assumenda doloribus inventore perferendis!</p>

  <p highlight color="red" [(color)]="defaultColor">{{ defaultColor }}</p>

  <p highlight background-color="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dicta, explicabo labore minus nesciunt odit provident rem sapiente! Aut, dolorum earum eos facilis fugiat hic ipsa laborum maxime minus nihil quae quasi, rem tempore ullam vitae. A aperiam atque consequatur corporis, earum et magni modi placeat repellat, sequi, tempora voluptates!</p>

  <a no-open href="https://google.com">Google : No-open</a>
  <hr>
  <a confirm confirm-message="Vous allez être redirigé vers google, confirmer ?" href="https://google.com">Google : Confirm</a>

  <button (click)="paragraph.onMouseEnter()">Paragraph instance</button>

  <hr>

  <user-profile
    first-name="john"
    last-name="doe"
    job="developper"
    [salary]="2700"
    [hired]="true"
  >
  </user-profile>
  <hr>

  <counter [initial-value]="0" [step]="5"></counter>

  My income = {{ basicIncome }}
  <input
    type="number"
    placeholder="Income & salary"
    [(ngModel)]="basicIncome"
  >
<!--  Banana in the box :  [(model)]="basicIncome" correpond aux 2 lignes :
     (modelChange)="basicIncome = $event"
     [model]=basicIncome

     la convention veut que nous passions en camelCase + suffixe Change. Nous permet de gérer le formatage des données en entrée et en sortie dans Angular
 -->
<!--  basicIncome = $event correspond à this.basicIncome = value // La value renvoyée par l'EventEmitter-->

  <button (click)="calculTaxes()">Calcul des impôts</button>
</div>
