<div class="container">
  <h1>Générez un mot de passe</h1>
  <div class="grid">
    <div>
      <h3>Votre mot de passe :</h3>
      <article>{{ message }}</article>
    </div>
    <div>
      <label for="length">Longueur du mot de passe : {{ length }}</label>
      <input id="length" type="range" min="10" max="50" name="length" [(ngModel)]="length"/>

      <label for="uppercase">
        <input [(ngModel)]="uppercase" role="switch" type="checkbox" name="uppercase" id="uppercase"/>
        Contiendra des majuscules
      </label>
      <label for="numbers">
        <input [(ngModel)]="numbers" role="switch" type="checkbox" name="numbers" id="numbers" />
        Contiendra des nombres
      </label>
      <label for="symbols">
        <input [(ngModel)]="symbols" role="switch" type="checkbox" name="symbols" id="symbols" />
        Contiendra des caractères spéciaux
      </label>
      <button (click)="onClickGenerate()">Générer</button>
    </div>
  </div>
</div>
